*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Universal-Sans-Text-Regular;
}
@font-face {
    font-family: Universal-Sans-Text-Regular ;
    src: url(../fonts/Universal-Sans-Text-Regular.woff2);
}

body{
    height: 100vh;
}

img{
    width: 100%;
}



nav{
    background-color: #ffffff4b;
    backdrop-filter: blur(15px);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

    /* @keyframes show {
        from {
            color: #fff;
        }
    
        to {
            color: #000;
        }
    } */
}

.nav__logo{
    width: 120px;
    color: #000;
}

.nav__links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.nav__links a{
    text-decoration: none;
    color: #000;
}

.nav__right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 120px;
}

.nav__right svg{
    font-size: 2rem;
    height: 22px;
    color: #000;
}


.container{
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    scroll-snap-type: y mandatory;
    /* scroll-padding: 200px 0; */
    overflow-y: scroll;
    z-index: 1;
    position: relative;
    top: -54px;

}

/* .container::-webkit-scrollbar {
    display: none;
  } */

.hero-1, .hero-2, .hero-3, .hero-4, .hero-5, .hero-6, .hero-7, .hero-8, .hero-9, .hero-10, .hero-hero{
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-hero{
    /* position: relative; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 115px;
}

.hero-10{
    position: relative;
    background-size: cover;
    /* padding: 115px; */
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 175px; */
    background-position: center center;
    z-index: 2;
}

.demo-drive{
    background-color: #ffffff41;
    border: solid 2px #fff;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 10px 100px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.hero-1{
    background: url(../img/Homepage-Model-3-Desktop-LHD-v2.avif);
    position: relative;
    background-size: cover;
    padding: 115px;
    height: 107vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 175px;
    background-position: center center;
    /* view-timeline-name: --navi;
    view-timeline-axis: block;

    animation-timeline: --navi;
    animation-name: show;

    animation-range: entry 35% cover 50%;
    animation-fill-mode: both; */
}

h1{
    font-size: 2.2rem;
    font-weight: 600;
}

h2{
    font-size: 1.4rem;
    font-weight: 500;
}

h3{
    padding-top: 3px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #444444;
}

.order, .demo{
    align-self: flex-end;
}

.order{
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 10px 100px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

.demo, .learn-more{
    background-color: #1a1a1a;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 10px 100px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.bottom{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 100%;
}

.hero-2{
    background: url(../img/Homepage-Model-Y-Desktop-Global.avif);
    background-size: cover;
    position: relative;
    top: -54px;
    padding: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    background-position: center center;
}

.hero-3{
    background: url(../img/Homepage-Model-X-Desktop-v2.avif);
    background-size: cover;
    position: relative;
    top: -54px;
    padding: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    background-position: center center;
}

.hero-4{
    background: url(../img/Homepage-Model-S-Desktop-v2.avif);
    background-size: cover;
    position: relative;
    top: -54px;
    padding: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    background-position: center center;
}

.hero-4 h1, .hero-4 h2, .hero-4 h3{
    color: #fff;
}

.hero-5{
    background: url(../img/Homepage-Cybertruck-Desktop.avif);
    background-size: cover;
    position: relative;
    top: -54px;
    padding: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    background-position: center center;
}

.hero__cybertruck-logo{
    padding-top: 50px;
    width: 500px;
    margin: 0 auto;
}

.hero-6{
    background: url(../img/Homepage-SolarPanels-01-Desktop.avif);
    background-size: cover;
    background-position: center center;
    position: relative;
    top: -54px;
    padding: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    background-position: center center;
}

.hero-6 h1, .hero-6 a, .hero-6 h3{
    color: #fff;
}

.hero-6 .bottom .order{
    color: #000;
}

.hero-7{
    background: url(../img/Homepage-SolarRoof-Desktop-Global.avif);
    background-size: cover;
    position: relative;
    top: -54px;
    padding: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    background-position: center center;
}

.hero-8{
    background: url(../img/Homepage-Powerwall-01-Desktop.avif);
    background-size: cover;
    background-position: center top;
    position: relative;
    top: -54px;
    padding: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    background-position: top center;
}

.hero-9{
    background: url(../img/Homepage-Accessories-Desktop-NA-APAC.avif);
    background-size: cover;
    position: relative;
    top: -54px;
    padding: 115px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    background-position: center center;
}

.hero-10{
    background: url(../img/Homepage-Model-3-Desktop-LHD-v2.avif);
    background-size: cover;
    position: relative;
    /* top: -54px; */
}

footer{
    text-align: center;
    background-color: #000;
    color: #dddddd;
    position: relative;
    top: -54px;
    z-index: 90;
    scroll-snap-align: end;
    padding: 30px;
}

footer h4{
    font-size: 0.65rem;
    font-weight: 200;
    padding-bottom: 0px;
}

footer a{
    color: #dddddd;
    font-size: 0.65rem;

}

footer p{
    padding: 0 0 20px 0;
}

.footer-links{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.footer-links a{
    text-decoration: none;
    font-weight: 600;
}

.footer-links h4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.hero-hero .top h1,h3{
    color: #fff;
}